.headerOne{
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .header-one-icones{
        display: flex;
        gap: 30px;
        padding: 20px 0;
        .icone{
            border-right: 1px solid #a586bc;
            padding-right: 15px;
            a{
                color: #a586bc;
                transition: all .4s;
                font-size: 14px;
                .phone{
                    font-size: 18px;
                    margin-right: 5px;
                }
                &:hover{
                    color: #c03afe;
                }
            }
        }
        
        .map-icone{
            border: none;
        }


    }
    .header-two-icones{
        display: flex;
        gap: 15px;
        align-items: center;
        .icone{
            .i{
                color: #a586bc;
                font-size: 20px;
                transition: .3s;
                &:hover{
                    color: #c03afe;
                }
            }
        }
    }
}