*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    footer{
        .footer-box{
            width: 410px;
            height: 150px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}